flask
numpy
facenet_pytorch
mmcv
flask_wtf
sklearn
ffmpeg

# pytorch==1.4.0? | 1.10?
# transformers==4.10

# flask==2.0.1
# numpy==1.21.5
# facenet_pytorch==2.5.2
# mmcv==1.4.3
# flask_wtf==0.14.3
# sklearn==0.23.2
# ffmpeg==???

# pytorch=1.10.2 or 1.3.1
# torch=1.9.0+cu111