<!doctype html>
<html>
	<head>
		<title>Face Tracking</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="{{url_for('static', filename='script.js')}}"></script>
	</head>
	<body style="background: url(https://storage.googleapis.com/kaggle-datasets-images/1474/2639/cb50fd3b236d01184fd23ad59af50b4f/dataset-original.jpg);">
		<div class="container" style="background: white; margin-top: 2rem; padding: 1rem;">
			<nav style="border-bottom: 1px solid; padding-bottom: .5rem; margin-bottom: 1rem;">
				<a href="https://ml-deploy-naive-bayes.herokuapp.com/" class="btn btn-primary">Topic prediction</a>
				<a href="https://ml-deploy-naive-bayes.herokuapp.com/word2vec" class="btn btn-primary">word2vec</a>
				<a href="/" class="btn btn-primary">Movie review classification</a>
			</nav>
			<div class="row">
				<div class="col-12">
					<a href="https://github.com/timesler/facenet-pytorch" target="_blank"><span class="badge badge-secondary">Facenet Pytorch</span></a>
				</div>
			</div>
			<hr>
			<h2 style="float: left;">Choose a video:</h2>
			{% from "_formhelpers.html" import render_field %}
			<form method=post enctype="multipart/form-data">
				<dl>
					{{ form.hidden_tag() }}
					{{ form.file(class_='btn video_file_input') }}
					<!-- <a href="{{ url_for('static', filename='video_tracked.mp4') }}">link</a> -->
					<!-- <input type="file" name="video" id="video" /> -->
					<!-- <br> -->
					<input id='submitBtn' class="btn btn-primary" type="submit" />
					<div class="spinner-grow text-primary" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</dl>
				<hr>
				<div class="row">
					<div class="col-6">
						<h5>Uploaded Videos</h5>
						<ul>
							{% for filename in untracked_dir_paths %}
								<li><a href='{{filename}}'>{{filename}}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-6">
						<h5>Videos with faces tracked</h5>
						<ul>
							{% for filename in tracked_dir_paths %}
								<li><a href='{{filename}}'>{{filename}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-12">
						<ul>
							<li>
								Choose a video with people in it and click <code>Submit</code><br>
								NOTE: It must be in <code>mp4</code> format (<a href="https://cloudconvert.com/mp4-converter" target="_blank">video files converter</a>)
							</li>
							<li>After model finished processing links for uploaded video and video with faces tracked 
								are gonna be added to respective columns
							</li>
							<li>
								If video isn't playing in the browser right click and choose <code>Save link as...</code> to download it
							</li>
						</ul>
					</div>
				</div>
				<!-- <div>
					<input class="btn btn-primary" type=submit value='Submit review' name='submit_btn'>
				</div> -->
			</form>
		</div>
	</body>
</html>